cfgv==3.3.1
distlib==0.3.6
filelock==3.4.1
identify==2.4.4
importlib-metadata==4.8.3
importlib-resources==5.2.3
nodeenv==1.6.0
platformdirs==2.4.0
pre-commit==2.17.0
prompt-toolkit==1.0.14
Pygments==2.14.0
PyInquirer==1.0.3
PyYAML==6.0
regex==2023.8.8
six==1.16.0
toml==0.10.2
typing-extensions==4.1.1
virtualenv==20.17.1
wcwidth==0.2.12
zipp==3.6.0
